.list-group {
	color:black;
	margin-top:10px;
}

img {
	border-radius:50%;
}

.result {
	padding: 10px;
	margin-top:10px;
}

.result:hover {
	background-color: gray;
}

.img-responsive {
	max-height:65px;
}

.offline {
	color:red;
}

.online {
	color:green;
}
